{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{% static 'css/dash_style.css' %}">
    </head>
    <body>
        {% include 'Analisedados/partials/nav-bar.html' %}
        <form method="GET">
            <div class="date-div">
                <label class="date-label" id="label-initial-date" for="initial-date"> Data Inicial <br> </label>
                <input type="date" id="initial-date" name="initial-date-inp" min="2023-04-01" max="2023-05-31">
                <label class="date-label" id="label-final-date" for="final-date"> Data Final <br> </label>
                <input type="date" id="final-date" name="final-date-inp" min="2023-04-01" max="2023-05-31">
                <button type="submit" class="btn-data" id="btn-submit-data"> Filtrar </button>
            </div>
        </form>
        <div class="div-chart-chamados">
            <div class="chart_div">  </div>
        </div>
        <div class="div-valores">
            <div class="div-valor-total">
                <p>Total Chamados Jivo <br> </p>
                <p style="font-size: 24px"> {{ valor_total_chamados }} </p>
            </div>
            <div class="div-valor-criados">
                <p>Total Chamados Criados <br> </p>
                <p style="font-size: 24px"> {{ valor_total_criados }} </p>
            </div>
            <div class="div-valor-positivos">
                <p>Total Positivos <br> </p>
                <p style="font-size: 24px"> {{ valor_total_positivos }} </p>
            </div>
            <div class="div-valor-negativos">
                <p>Total Negativos <br> </p>
                <p style="font-size: 24px"> {{ valor_total_negativos }} </p>
            </div>
            <img src="{% static 'img/logo.png' %}" alt="Unika Sistemas" class="logo-unk">
        </div>
        <div class="div-obs">
            <p> Pontuação gerada somente a partir dos atendimento realizados pelo JIVO <br> </p>
            <p> (Chamados + (Registrados * 2) + (Positivos * 2)) / Peso <br> </p>
            <p> Peso 5 = Registrados <= 50% | Peso 2 = Registrados < 80% | Peso 2 = Registrados >= 80%</p>
        </div>
        <div id="loading-overlay">
            <div id="loading-spinner"></div>
        </div>
    </body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

            var loadingTimeout = 500;

            function showLoadingOverlay() {
                var loadingOverlay = document.getElementById('loading-overlay');
                loadingOverlay.style.display = 'flex';
            }

            function hideLoadingOverlay() {
                var loadingOverlay = document.getElementById('loading-overlay');
                loadingOverlay.style.display = 'none';
            }

            function loadCharts() {
                showLoadingOverlay();

                var loadingTimer = setTimeout(function() {
                    hideLoadingOverlay();
                }, loadingTimeout);

                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(function() {
                    chamadosVisualization();
                });
            }

            function chamadosVisualization() {
                var data = google.visualization.arrayToDataTable({{ pontuacao|safe }});

                var options = {
                    colors: ['#72A2C0'],
                    title: 'Pontuação Por Analista',
                    vAxis: {title: 'Pontos'},
                    hAxis: {title: 'Analistas'},
                    seriesType: 'bars',
                    series: {2: {type: 'line'}}
                };


                var chart = new google.visualization.ComboChart(document.querySelector('.chart_div'));
                chart.draw(data, options);

                var initialDate = document.getElementById('initial-date');
                initialDate.setAttribute('value', '{{ data_inicial }}');

                var finalDate = document.getElementById('final-date');
                finalDate.setAttribute('value', '{{ data_final }}');
            }

            setTimeout(loadCharts, 500);
    </script>
</html>

