{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
        <link rel="stylesheet" href="{% static 'css/graphics_style.css' %}">
    </head>
    <body>
        {% include 'Analisedados/partials/nav-bar.html' %}
        <form method="GET">
            <div class="date-div">
                <label class="date-label" id="label-initial-date" for="initial-date"> Data Inicial <br> </label>
                <input type="date" id="initial-date" name="initial-date-inp" min="2023-04-01" max="2023-05-31">
                <label class="date-label" id="label-final-date" for="final-date"> Data Final <br> </label>
                <input type="date" id="final-date" name="final-date-inp" min="2023-04-01" max="2023-05-31">
                <button type="submit" class="btn-data" id="btn-submit-data"> Filtrar </button>
            </div>
        </form>
        <div class="div-chart-chamados">
            <div class="chart_div"> </div>
        </div>
        <div class="div-chart-quality">
            <div class="chart_quality"> </div>
        </div>
        <div class="div-chart-pizza">
            <div class="chart_pizza"> </div>
        </div>
        <div id="loading-overlay">
            <div id="loading-spinner"></div>
        </div>
    </body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        var loadingTimeout = 500;

        function showLoadingOverlay() {
            var loadingOverlay = document.getElementById('loading-overlay');
            loadingOverlay.style.display = 'flex';
        }

        function hideLoadingOverlay() {
            var loadingOverlay = document.getElementById('loading-overlay');
            loadingOverlay.style.display = 'none';
        }

        function loadCharts() {
            showLoadingOverlay();

            var loadingTimer = setTimeout(function() {
                hideLoadingOverlay();
            }, loadingTimeout);

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(function() {
                drawVisualization();
                qualityVisualization();
                hideLoadingOverlay();
                pizzaVisualization();
                clearTimeout(loadingTimer);
            });
        }

        function drawVisualization() {
            var data = google.visualization.arrayToDataTable({{ data|safe }});

            var options = {
                colors: ['#1D65A6', '#72A2C0'],
                title : 'Chamados Por Analista',
                vAxis: {title: 'Qtd Chamados'},
                hAxis: {title: 'Analistas'},
                seriesType: 'bars',
                series: {2: {type: 'line'}}
            };


            var chart = new google.visualization.ComboChart(document.querySelector('.chart_div'));
            chart.draw(data, options);

            var initialDate = document.getElementById('initial-date');
            initialDate.setAttribute('value', '{{ data_inicial }}');

            var finalDate = document.getElementById('final-date');
            finalDate.setAttribute('value', '{{ data_final }}');
        }

        function qualityVisualization() {
            var data = google.visualization.arrayToDataTable({{ quality|safe }});

            var options = {
                colors: ['#00743F', '#F2A104'],
                title : 'Qualidade de Atendimento',
                vAxis: {title: 'Classificação'},
                hAxis: {title: 'Analistas'},
                seriesType: 'bars',
                series: {2: {type: 'line'}}
            };


            var chart = new google.visualization.ComboChart(document.querySelector('.chart_quality'));
            chart.draw(data, options);

        }

        function pizzaVisualization() {
            var data = google.visualization.arrayToDataTable({{ percent|safe }});


            var options = {
                colors: ['#00743F', '#F2A104'],
                title : 'Participação Nos Chamados',
                vAxis: {title: 'Percentual'},
                hAxis: {title: 'Analistas'},
                seriesType: 'bars',
                series: {2: {type: 'line'}}
            };


            var chart = new google.visualization.ComboChart(document.querySelector('.chart_pizza'));
            chart.draw(data, options);

        }

        setTimeout(loadCharts, 500);

    </script>
</html>

