@media (min-width: 1390px) {

    body {
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
        color: #fefefe;
    }

    .nav-menu {
        background: #192E5B;
        width: 3vw;
        height: 100vh;
        top: 0;
        position: fixed;

    }

    .btt-home {

    }

    .btn {
        background-color: #192E5B;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border: none !important;
        width: 98%;
        height: 2vw;
        transition: all linear 160ms;
        cursor: pointer;
        text-align: left;
    }

    .btn.btn a {
        color: inherit;

    }

    .a {
        margin-top: 2vw;


    }

    .b {

    }

    .c {
        margin-top: 3vw;

    }


    .d {
        margin-top: 26vw;
    }

    .e {
        margin-top: 3vw;
    }

    .btn:hover {
        transform: scale(1.05);
        background-color: #fefefe;
        color: black;
    }

    .e:hover {
        transform: scale(1.05);
        background-color: #fefefe;
        color: black;
    }

    .icon-exit {
        width: 8vw;
        height: 3vh;
        margin-left: -1.8vw;
    }


    .chart_div {
        font-size: 18px;
        margin-left: 6vw;
        margin-top: 1vw;
        width: 55vw;
        height: 55vh;
        flex-wrap: wrap;
    }

    .date-div {
        font-size: 14px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: black;
        margin-left: 10vw;
        margin-top: -50vw;
        display: flex;

    }

    #initial-date {
        font-size: 14px;
        width: 8vw;
        height: 2vw;
        text-align: center;
        border-radius: 8px;
        color: #a60202;
        margin-top: 1vw;
    }


    #final-date {
        font-size: 14px;
        width: 8vw;
        height: 2vw;
        text-align: center;
        border-radius: 8px;
        color: #a60202;
        margin-top: 1vw;
    }
}


@media (max-width: 1390px) {

    body {
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
        color: #fefefe;
    }

    .nav-menu {
        background: #192E5B;
        width: 5vw;
        height: 100vh;
        top: 0;
        position: fixed;

    }

    .btt-home {

    }

    .btn {
        background-color: #192E5B;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border: none !important;
        width: 98%;
        height: 2vw;
        transition: all linear 160ms;
        cursor: pointer;
        text-align: left;
    }

    .a {
        margin-top: 2vw;

    }

    .b {
        margin-top: 3vw;

    }

    .c {
        margin-top: 3vw;

    }


    .d {
        margin-top: 26vw;
    }

    .e {
        margin-top: 3vw;
    }

    .btn:hover {
        transform: scale(1.05);
        background-color: #fefefe;
        color: black;
    }

    .e:hover {
        transform: scale(1.05);
        background-color: #fefefe;
        color: black;
    }

    .icon-exit {
        width: 8vw;
        height: 3vh;
        margin-left: -1.8vw;
    }


    .chart_div {
        font-size: 18px;
        margin-left: 6vw;
        margin-top: 1vw;
        width: 55vw;
        height: 55vh;
        flex-wrap: wrap;
    }

    .date-div {
        font-size: 14px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: black;
        margin-left: 10vw;
        margin-top: -46vw;
        display: flex;

    }

    #label-final-date {
        margin-left: 3vw;
    }

    #initial-date {
        font-size: 14px;
        width: 8vw;
        height: 2vw;
        text-align: center;
        border-radius: 8px;
        color: #dddddd;
        margin-top: -6px;
        margin-left: 5px;
        background: #5E5694;
    }


    #final-date {
        font-size: 14px;
        width: 8vw;
        height: 2vw;
        text-align: center;
        border-radius: 8px;
        color: #dddddd;
        margin-top: -6px;
        margin-left: 5px;
        background: #5E5694;
    }
}