
@media (min-width: 1390px) {

    body {
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
        color: #fefefe;
    }

    .nav-menu {
        background: #5D548E;
        width: 3vw;
        height: 100vh;

    }

    .btn {
        background-color: #5D548E;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border: none !important;
        width: 100%;
        height: 2vw;
        transition: all linear 160ms;
        cursor: pointer;
        text-align: left;
    }

    .btn a {
        color: #dddddd;
        margin-top: 2vw;
    }

    .a {
        margin-top: 2vw;

    }


    .b {
        margin-top: 3vw;

    }


    .c {
        margin-top: 3vw;

    }


    .d {
        margin-top: 26vw;
    }

    .e {
        margin-top: 3vw;
    }

    .btn:hover {
        transform: scale(1.05);
        background-color: #fefefe;
        color: black;
    }

    .btn a:hover{
        transform: scale(1.05);
        background-color: #fefefe;
        color: black;
    }

    .e:hover {
        transform: scale(1.05);
        background-color: #1b1b1b;
        color: #dddddd;
    }

    .icon-exit {
        width: 5vw;
        height: 2.5vh;
        margin-left: -1.4vw;
    }


    .chart_div {
        font-size: 18px;
        margin-left: 5vw;
        margin-top: 3vw;
        width: 90vw;
        height: 40vh;
        flex-wrap: wrap;
        border: 2px solid black;
    }

    .date-div {
        font-size: 14px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: black;
        margin-left: 5vw;
        margin-top: -49vw;
        display: flex;

    }

    #label-final-date {
        margin-left: 3vw;
    }

    #initial-date {
        font-size: 14px;
        width: 8vw;
        height: 1.5vw;
        text-align: center;
        border-radius: 8px;
        color: black;
        margin-top: -9px;
        margin-left: 5px;
        background: #fefefe;
    }

    #initial-date::-webkit-calendar-picker-indicator{
        cursor: pointer;
    }

    #final-date {
        font-size: 14px;
        width: 8vw;
        height: 1.5vw;
        text-align: center;
        border-radius: 8px;
        color: black;
        margin-top: -9px;
        margin-left: 5px;
        background: #fefefe;
    }

    #final-date::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }

    #btn-submit-data {
        margin-left: 5vw;
        font-size: 14px;
        width: 8vw;
        height: 1.5vw;
        text-align: center;
        border-radius: 8px;
        color: #dddddd;
        margin-top: -6px;
        background: #5E5694;
        border: 2px;
    }


    #btn-submit-data:hover {
        transform: scale(1.05);
        background-color: black;
        color: #fefefe;
        cursor: pointer;
    }

    .div-chart-pizza {
        margin-left: 5vw;
        margin-top: 1vw;
        width: 90vw;
        height: 40vh;
        flex-wrap: wrap;
        border: 0.2vw solid black;
    }

    .chart_quality {
        font-size: 16px;
        width: 45vw;
        height: 38vh;
        margin-left: 2vw;
    }

    .chart_pizza {
        font-size: 16px;
        width: 35vw;
        height: 38vh;
        margin-left: 55vw;
        margin-top: -38vh;
    }

    #loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    /* Estilos para o spinner de carregamento */
    #loading-spinner {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }

    /* Animação de rotação para o spinner de carregamento */
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}


@media (max-width: 1390px) {

    body {
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
        color: #fefefe;
    }

    .nav-menu {
        background: #5D548E;
        width: 5vw;
        height: 100vh;

    }

    .btn {
        background-color: #5D548E;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border: none !important;
        width: 98%;
        height: 2vw;
        transition: all linear 160ms;
        cursor: pointer;
        text-align: left;
    }

    .btn a {
        color: #dddddd;
        margin-top: 2vw;
    }

    .a {
        margin-top: 2vw;

    }


    .b {
        margin-top: 3vw;

    }


    .c {
        margin-top: 3vw;

    }


    .d {
        margin-top: 26vw;
    }

    .e {
        margin-top: 3vw;
    }

    .btn:hover {
        transform: scale(1.05);
        background-color: #fefefe;
        color: black;
    }

    .btn a:hover{
        transform: scale(1.05);
        background-color: #fefefe;
        color: black;
    }

    .e:hover {
        transform: scale(1.05);
        background-color: #1b1b1b;
        color: #dddddd;
    }

    .icon-exit {
        width: 8vw;
        height: 3vh;
        margin-left: -2.1vw;
    }


    .chart_div {
        font-size: 18px;
        margin-left: 7vw;
        margin-top: 3vw;
        width: 90vw;
        height: 40vh;
        flex-wrap: wrap;
        border: 2px solid black;
    }

    .date-div {
        font-size: 14px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        color: black;
        margin-left: 7vw;
        margin-top: -46vw;
        display: flex;

    }

    #label-final-date {
        margin-left: 3vw;
    }


    #initial-date {
        font-size: 14px;
        width: 8vw;
        height: 2vw;
        text-align: center;
        border-radius: 8px;
        color: black;
        margin-top: -6px;
        margin-left: 5px;
        background: #fefefe;
    }

    #initial-date::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }

    #final-date {
        font-size: 14px;
        width: 8vw;
        height: 2vw;
        text-align: center;
        border-radius: 8px;
        color: black;
        margin-top: -6px;
        margin-left: 5px;
        background: #fefefe;
    }

    #final-date::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }

    #btn-submit-data {
        margin-left: 5vw;
        font-size: 14px;
        width: 8vw;
        height: 2vw;
        text-align: center;
        border-radius: 8px;
        color: #dddddd;
        margin-top: -2px;
        background: #5E5694;
        border: 2px;
    }


    #btn-submit-data:hover {
        transform: scale(1.05);
        background-color: black;
        color: #fefefe;
        cursor: pointer;
    }


    .div-chart-pizza {
        margin-left: 7vw;
        margin-top: 1vw;
        width: 90vw;
        height: 40vh;
        flex-wrap: wrap;
        border: 0.2vw solid black;
    }

    .chart_quality {
        font-size: 16px;
        margin-left: 1.5vw;
        width: 45vw;
        height: 38vh;
    }

    .chart_pizza {
        font-size: 16px;
        width: 40vw;
        height: 38vh;
        margin-left: 50vw;
        margin-top: -38vh;
    }

    #loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    /* Estilos para o spinner de carregamento */
    #loading-spinner {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }

    /* Animação de rotação para o spinner de carregamento */
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

}
